
*.aux
*.log
58219-2013-8ed-Montgomery-Design-and-Analysis-of-Experiments.pdf
.DS_Store
lab_3/lab_3.mpx.bak
aa_resources/4 Statistical Tables.pdf
aa_resources/Chapter 5  2^2  example_v2.pdf
aa_resources/Chapter 5 Notes -Two-Factor Design_v2.pdf
aa_resources/Chapter 5 Two-Factor  example - no interaction.pdf
aa_resources/Chapter 5 Two-Factor  example - with interaction.pdf
aa_resources/Chapter 5_text.pdf
aa_resources/HW4.pdf
aa_resources/HypothesisTestingReview.pdf
